*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #000000;
}
body{color: white;}
li , a {
    font-family: 'Kumbh Sans';
    font-weight: 400px;
    font-size: 20px; 
    color: white;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-around;

    align-items: center;
}
.logo{
    cursor: pointer;
    
}
.pages li{
    display: inline-block;
    padding: 0px 40px;
    padding-left: 100px;

    
}
.container{

text-align: center;



}
/* Foodies Welcome Here */
.food{
font-family: 'Italianno', cursive;
font-style: normal;
font-weight: 300px;
font-size: 80px;
color: #FF8D25;
}
/* FRESH & TASTY MEALS */
.fresh{
font-family: 'Kumbh Sans', sans-serif;
font-style: normal;
font-weight: 200px;
font-size: 35px;
}
.lorem1{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 30px;

}
.btnmenu{
    background-color: white;
    color: #FF8D25;
    height: 45px;
    width: 200px;
    border-radius: 50px;
    cursor: pointer; 
    margin-right: 10px;
    
}
.btnabout{
    background-color: #FF8D25;
    color: white;
    height: 45px;
    width: 170px;
    border-radius: 50px;
    cursor: pointer; 
    margin-right: 30px;
}
.btnmenu:hover{
    background-color: #FF8D25;
    color: white;
}
.btnabout:hover{
    background-color: white;
    color: #FF8D25;
}
.line{
    margin-bottom: 90px;
    
}
@media only screen and (max-width: 992px) {
    .line{
        display: flex;
        justify-content:space-around;
        align-items:center;
        margin-right: 90px;
        margin-left: 100px; 
    }
    .btnabout{
        margin-left: 20px;
    }
  }
.svg{
    display: flex;   
    justify-content: center;   
}
h2{
    text-align: center;
    margin-bottom: 10px;
}
.galerie{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
    margin-left:auto ;
    margin-right: auto;
}
.mini-galerie{
    margin: 30px 50px;
    background-color: #FF8D25;

}


.Italianno{
font-family: 'Italianno', cursive;

}

.getapp{
    
   padding: 2rem;
   padding-top: 4rem;
   
    background-color: black;
    height: 254px;
    color: white;
    border: 1px solid;
    
    width: 483.2px;
}

.app{
   display: flex;
   justify-content: center;
   margin-left:   auto ;
    margin-right: auto;

   flex-wrap: wrap; 

}
.text-muted{
    margin-bottom: 10px;
}
.font-weight{
    margin-bottom: 10px;
}
hr{
    margin-bottom: 50px
}
footer {
    padding: 3px;
    bottom: 0; left: 0; right: 0;
    width: 100%;
    background-color: #FF8D25;
    color: white;
    text-align: center;
 
    /* height: calc(50vh - 194px); */
  }

#title{
    margin-bottom: 50px;
}
@media only screen and (max-width: 992px) {
    .getapp{
        margin-left: 0px;
        

        
    }
  }
/* ____  _________________________________________________________________________  */
#abus{
    text-align: center;
    margin-top: 3%;
    font-family: 'Kumbh Sans';
}
.aboutus{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 141px;


}
.allone{
    
    width: 480px;
    padding-top: 4%;
    margin-right: 2%;

}

#explore{

    font-family: 'Italianno', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #FF8D25;

}
#Nothing{
    text-align: left;
    font-family: 'Kumbh Sans';
    font-weight: 300;
    font-size: 30px; 
    
    
}
#lorem2{


width: auto;
font-style: normal;
font-size: 20px;
color: #FFFFFF;
margin-bottom: 5%;

}
.images1{
border-radius: 30px;
}

/* _______________________________________________________ */
.parentform{
    margin-left: auto;
    margin-right: auto;
}
.contact{
    font-size: xx-large;
    padding-top: 140px;  
    text-align: center;
    margin-top: 90px;
    margin-right: 8%;
    
    

  
    

}
#con{

    width: 482px;
    margin-left: auto;
    margin-right: auto;
}
#nemo{
    width: 400px;
    height: 100px;
    font-size: small;
    margin-right: 5%;
    text-align: left;
    margin-top: 10%;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
.form{
         /* background-color: ; */
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        background-color: white;
        padding: 50px;
        margin-top: 50px;
        margin-bottom: 60px;
}

.form label,input,textarea{
   width: 400px;
   box-sizing: border-box;
   font-size: 16px;
   
}

.form input,textarea{
    border: 2px solid #e99c2e; 
    border-radius: 10px;
    text-indent: 15px;

    
}
.form input{
    height: 60px;

    
}
.form label{
    text-indent: 18px;
    color: #000000;
    font-size: large;

}
.buttonform{
    background-color: #e99c2e;
    color: white;
    padding: 15px 32px 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    stroke: none;
    cursor: pointer;



}
.buttonform:hover {
    background-color: white;
    color: #FF8D25;
    border: 2px solid #EEEDEA; /* Green */
  }
/* _________________________________________________________________________ */
.mother{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
        margin-top: 60px;
        margin-bottom: 60px;


}
.cards{
    margin-right: 5%;

}
.card{
    padding : 30px;
    background-color: white;
    border-radius: 30px;
    color: #000000;
    display: flex;
    width: 400px;
}
.plus{
    background-color: black;
    width: 50px;
    padding-left: 5px;
    padding-top: 6px;
    padding-bottom: 2px;
    border-radius: 5px;
   
}
#content1{

padding-left: 10px;

padding-top: 5px;

font-weight:bolder;


}

.fixbug{
  display: flex;
  flex-direction: column;

}
#prob{
    
    padding-left: 10px;
    padding-top: 8px;
    font-family: 'Italianno', cursive;


}
.plusminus{
    margin-left: 3%;
}
.payment{
    visibility: hidden;
  

    
}
.Card-Details{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: #FFFFFF;
    padding: 50px;
    margin-bottom: 60px;
    color: #000000;
    
}
.buttonpay{
    background-color: #FF8D25;
    color: white;
    padding: 15px 32px 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    stroke: none;
    cursor: pointer;
    
}
.buttonpay:hover{
    background-color: white;
    color: #FF8D25;
    border: 2px solid #EEEDEA; /* Green */
}
.Card-Details label,input{
    width: 350px;
    box-sizing: border-box;
    font-size: 16px;
    
 }
 .Card-Details input,textarea{
    border: 2px solid #e99c2e; 
    border-radius: 10px;
 }
.Card-Details label,input{
    height: 40px;
}
.Card-Details input{
    text-indent: 15px;

}

.same-line input{
    
    width: 170px;  
  
    

}
.same-line{
    display: flex;
    margin-top: 7px;
    margin-bottom: 3%;
    


}

.Card-Details label{
    width: auto;
    height: 17.6px;
    margin-bottom: 15px;

}
@media only screen and (max-width: 992px) {
   .card{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
 
}
.plus{
    background: none;
}
#prob{
    display: none;
}
    .allone{
    
    width: 90%;
    padding-top: 4%;
    text-align: center;

}

    .images1{
        width: 90%;
        margin-left: 5%;
        height: 90%;
    }
    #Nothing{
        text-align: center;
    }
    #content1{
        font-size: 85%;
        margin-top: 2%;
    }
  }
svg{
    cursor: pointer;
}
/* __________________________________________________________________ collapse*/
/* .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  } */
/* _______________________________________ */
.toggle-button{
    position: absolute;
    top: 2rem;
left: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 40px;
height:31px ;
color:white ;

}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 992px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        width: 100%;
        flex-direction: column;
        padding-left: 0px;
    }
    .logo{
        margin-left: auto;}
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }

   
}
/* ___________________________________________________________ */

.numbershop{
    width: 30px;
    margin-left: 24%;
    margin-top: 11%;
    border: 2px solid #FF8D25;
    border-radius: 10px;
    text-align: center;
 
}
/* __________________________________________________________________ */
.payment.shadow{
    visibility: visible;
}
.menus-proposés{
    text-align: center;
    margin-bottom: revert;
    font-family: 'Italianno', cursive;
    font-size: 60px;
    color: #FF8D25;
}
#card-first{
    margin-left: auto;
    margin-right: auto;
}
/* ____________________ */
@media only screen and (max-width: 992px) {
   .Card-Details input{
    width: 90%;
   }
   .Card-Details{
    margin-left: 90%;
    margin-right: 90%;
   }
   #card-first{

    width: 90%;
}
  }