
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #000000;
}
body{color: white;}
li , a {
    font-family: 'Kumbh Sans';
    font-weight: 400px;
    font-size: 20px; 
    color: white;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-around;

    align-items: center;
}
.logo{
    cursor: pointer;
    
}
.pages li{
    display: inline-block;
    padding: 0px 40px;
    padding-left: 100px;

    
}
.container{

text-align: center;



}
/* Foodies Welcome Here */
.food{
font-family: 'Italianno', cursive;
font-style: normal;
font-weight: 300px;
font-size: 80px;
color: #FF8D25;
}
/* FRESH & TASTY MEALS */
.fresh{
font-family: 'Kumbh Sans', sans-serif;
font-style: normal;
font-weight: 200px;
font-size: 35px;
}
.lorem1{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 30px;

}
.btnmenu{
    background-color: white;
    color: #FF8D25;
    height: 45px;
    width: 200px;
    border-radius: 50px;
    cursor: pointer; 
    margin-right: 10px;
    
}
.btnabout{
    background-color: #FF8D25;
    color: white;
    height: 45px;
    width: 170px;
    border-radius: 50px;
    cursor: pointer; 
    margin-right: 30px;
}
.btnmenu:hover{
    background-color: #FF8D25;
    color: white;
}
.btnabout:hover{
    background-color: white;
    color: #FF8D25;
}
.line{
    margin-bottom: 90px;
    
}
@media only screen and (max-width: 992px) {
    .line{
        display: flex;
        justify-content:space-around;
        align-items:center;
        margin-right: 90px;
        margin-left: 100px; 
    }
    .btnabout{
        margin-left: 20px;
    }
    .font{
        font-size: -webkit-xxx-large;
    }

  }
.svg{
    display: flex;   
    justify-content: center;   
}
h2{
    text-align: center;
    margin-bottom: 10px;
}
.galerie{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
    margin-left:auto ;
    margin-right: auto;
}
.mini-galerie{
    margin: 30px 50px;
    background-color: #FF8D25;

}


.Italianno{
font-family: 'Italianno', cursive;

}

.getapp{
    
   padding: 2rem;
   padding-top: 4rem;
   
    background-color: black;
    height: 254px;
    color: white;
    border: 1px solid;
    
    width: 483.2px;
}

.app{
   display: flex;
   justify-content: center;
   margin-left:   auto ;
    margin-right: auto;

   flex-wrap: wrap; 

}
.text-muted{
    margin-bottom: 10px;
}
.font-weight{
    margin-bottom: 10px;
}
hr{
    margin-bottom: 50px
}
footer {
    padding: 3px;
    bottom: 0; left: 0; right: 0;
    width: 100%;
    background-color: #FF8D25;
    color: white;
    text-align: center;
 
    /* height: calc(50vh - 194px); */
  }

#title{
    margin-bottom: 50px;
}
@media only screen and (max-width: 992px) {
    .getapp{
        margin-left: 0px;

    
        

        
    }
  }

/* ____  _________________________________________________________________________  */
#abus{
    text-align: center;
    margin-top: 3%;
    font-family: 'Kumbh Sans';
}
.aboutus{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 141px;


}
.allone{
    
    width: 480px;
    padding-top: 4%;
    margin-right: 2%;

}

#explore{

    font-family: 'Italianno', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #FF8D25;

}
#Nothing{
    text-align: left;
    font-family: 'Kumbh Sans';
    font-weight: 300;
    font-size: 30px; 
    
    
}
#lorem2{


width: auto;
font-style: normal;
font-size: 20px;
color: #FFFFFF;
margin-bottom: 5%;

}
.images1{
border-radius: 30px;
}

/* _______________________________________________________ */
.parentform{
    margin-left: auto;
    margin-right: auto;
}
.contact{
    font-size: xx-large;
    padding-top: 140px;  
    text-align: center;
    margin-top: 90px;
    margin-right: 8%;
    
    

  
    

}
#con{

    width: 482px;
    margin-left: auto;
    margin-right: auto;
}
#nemo{
    width: 400px;
    height: 100px;
    font-size: small;
    margin-right: 5%;
    text-align: left;
    margin-top: 10%;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
.form{
         /* background-color: ; */
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        background-color: white;
        padding: 50px;
        margin-top: 50px;
        margin-bottom: 60px;
}

.form label,input,textarea{
   width: 400px;
   box-sizing: border-box;
   font-size: 16px;
   
}

.form input,textarea{
    border: 2px solid #e99c2e; 
    border-radius: 10px;
    text-indent: 15px;

    
}
.form input{
    height: 60px;

    
}
.form label{
    text-indent: 18px;
    color: #000000;
    font-size: large;

}
.buttonform{
    background-color: #e99c2e;
    color: white;
    padding: 15px 32px 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    stroke: none;
    cursor: pointer;



}
.buttonform:hover {
    background-color: white;
    color: #FF8D25;
    border: 2px solid #EEEDEA; /* Green */
  }
/* _________________________________________________________________________ */

/* __________________________________________________________________ collapse*/
/* .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  } */
/* _______________________________________ */
.toggle-button{
    position: absolute;
    top: 2rem;
left: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 40px;
height:31px ;
color:white ;

}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 992px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        width: 100%;
        flex-direction: column;
        padding-left: 0px;
    }
    .logo{
        margin-left: auto;}
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }

   
}
/* ___________________________________________________________ */

.numbershop{
    width: 30px;
    margin-left: 24%;
    margin-top: 11%;
    border: 2px solid #FF8D25;
    border-radius: 10px;
    text-align: center;
 
}
/* __________________________________________________________________ */
.payment.shadow{
    visibility: visible;
}
.menus-proposés{
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 60px;
    color: #FF8D25;
}
#card-first{
    margin-left: auto;
    margin-right: auto;
}
/* ____________________ */
@media only screen and (max-width: 992px) {
.Card-Details input{
    width: 90%;
}
.Card-Details{
    margin-left: 90%;
    margin-right: 90%;
}
#card-first{

    width: 90%;
}
}
/* __________________________________ */
.inline{
    text-align: center;
}
.inlineA{
    padding: 10px;
    margin-left: 3%;
    border: 2px solid #e99c2e;
    border-radius: 10px;
}

/* __________________________ */
        
.container2 {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.ti {
    padding-top: 30px;
    text-align: center;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.cart {
    width: 28%;
    margin: 10px;
    margin-left: 10px;
    height: 100%;
    margin-top: 4%;
}

.articles > div {
    width: 200px;
    margin: 20px;
}

.imagecard {
    width: 100%;
    border-radius: 20px;
}

.prod {
    display: flex;
    flex-direction: row;
}

.tit {
    width: 100%;
}

#price1, #price2, #price3, #price4 , #price5, #price6, #price7, #price8 ,#price9, #price10, #price11, #price12   {
    margin-right: 5px;
}

.inputs, .inp, select {
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.inp {
    width: 50px;
}

.addTo {
    position: relative;
    left: 0px;
    width: 100px;
    height: 25px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: #FF8D25;
    color: beige;
    border-width: 0px;
}

.addTo:hover {
 background-color: white;
 color: black;
 border: 1px solid #FF8D25;
}

#message1, #message2, #message3, #message4, #message5, #message6, #message7, #message8, #message9, #message10, #message11, #message12 {
    color: greenyellow;
    text-align: center;
}



.buttonbuyitem:hover {
    background-color: #FF8D25;
    color: white;
    border: 1px solid white;
    


}
.cart{
    border: solid;
}
 .shoping_card , .articls , #total{
    border: solid 1px;
}
#items{
    background-color: #FF8D25;
    list-style-type: none; 
    padding-left: 2%;

}
.buttonbuyitem {

    border-radius: 50%;
    color: black;
    background-color: white;
    border: 1px solid #FF8D25;
    width: 6%;
    margin-top: 1%;
    cursor: pointer;
    float: right;
    margin-right: 3%;
}
.articlesforcard{
    background-color : rgb(29, 24, 24);
}
#total{
    background-color: rgb(29, 24, 24);
}
.grandM{
    display: flex;
    margin-bottom: 15%;
}
@media only screen and (max-width: 1200px) {
    .cart{
        margin-top: 10%;
        width: 50%;
        
    }  
    
    .grandM{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }
    
}
@media only screen and (max-width: 690px) {
    .cart{
        width: 80%;
        
        height: auto;
    }
    .articles{
        justify-content: space-evenly;
    }
}
